li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  #home {
    background-image: url("../img/burger-picture.png");
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  